body{
    background-color: #F6F6F6;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #111;
}
a:hover{
    color: #5D5FEF;
}
ol,ul{
    list-style: none;
    padding: 0;
}
a:active{
    color: #5D5FEF;
}
hr{
    border-bottom: 1px solid rgb(126, 126, 126);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.navbar-brand{
    background-color: #5D5FEF;
    color: #fff;
    border-radius: 5px;
}
.navbar-brand:hover{
    color: #fff;
}
.nav-link{
    font-size: 24px;
    font-weight: 400;
    color: #111;
    position: relative;
    transition: .1s;

}
.nav-link:hover{
    color: #5D5FEF;
}
.nav-link:hover::after{
    width: 20px;
    height: 3px;
    background-color: #5D5FEF;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(140%, -200%);
    content: "";
    z-index: 1;
    transition: .5s;
}
ul{
    display: inline-block;
}
#catagory{
    display: flex;
    justify-content: space-between;
}


#total-news
{
    margin-bottom: 30px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: #faffff;
    -webkit-box-shadow: 12px 12px 33px #a0a3a3, -12px -12px 33px #ffffff;
    box-shadow: 12px 12px 33px #a0a3a3, -12px -12px 33px #ffffff;
    width: 100%;
    height: 50px;
    margin-top: 50px;
    padding: 10px;
}

#total-news p
{
    font-size: 22px;
    font-weight: 600;
    color: #5D5FEF;
}


.data{
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: #faffff;
    -webkit-box-shadow: 12px 12px 33px #a0a3a3, -12px -12px 33px #ffffff;
    box-shadow: 12px 12px 33px #a0a3a3, -12px -12px 33px #ffffff;
    padding: 20px;
    margin: 30px 0;
}
.profile-img{
    width: 30%;
border-radius: 50%;
}
.profile-img p{
    margin-bottom: 0;
    margin-left: 10px;
}



@media screen and (max-width: 576px){
    ul{
        display: block !important;
    }
    #total-news{
        width: 95%;
        margin-top: 20px;
    }
    .data img{
        width: 100%;
    }
    .data .card-body{
        padding-top: 10px;
    }
    .profile-img img{
        width: 35%;
    }
    .profile-img p{
        font-size: 10px !important;
    }
    .author button{
        font-size: 11px;
    }
}